<div class="col-md-9">
  <div class="row">
    <div class="panel panel-default">
      <div class="newtopic">
        <h2>Get it off your chest</h2>
      </div>
      <div class="panel-body">
        <%= simple_form_for(@vent) do |f| %>
        <% if @vent.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vent.errors.count, "error") %> prohibited this site from being saved:</h2>
          <ul>
            <% @vent.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div class="form-input">
          <%= f.association :category %>
          <%= f.input :title %><br />
          <%= f.input :content %><br />
          <%= f.submit class:"btn-primary" %><br />
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
