<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
        <!-- MAIN IMAGE -->
        <img src="images/slide.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
        <!-- LAYERS -->
      </li>
    </ul>
  </div>
</div>
    <div class="large-9 column">
      <% if @vents.present? %>
      <% @vents.each do |vent| %>
      <!-- POST -->
      <div class="post">
        <div class="wrap-ut pull-left">
          <div class="userinfo pull-left">
            <h4>#<%= vent.id %></h4>
          </div>
          <div class="posttext pull-left">
            <h3 class="entry-title"><%= link_to vent.title, vent_path(vent) %></h3>
            Shared by Anonymous
            <p> <%= vent.content %> </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="postinfo pull-left">
          <div class="comments">
            <div class="commentbg">
              <%= link_to vent.comments.count, vent_path(vent) %>
              <div class="mark"></div>
            </div>

          </div>
            <div class="views">
              <%= link_to like_vent_path(vent), method: :get, class: "data" do %>
              <i class="fa fa-angle-double-up"></i>
              <%= pluralize(vent.get_upvotes.size, "Like") %>
              <% end %>
              <br>
              <%= link_to dislike_vent_path(vent),  method: :get, class: "data" do %>
              <i class="fa fa-angle-double-down"></i>
              <%= pluralize(vent.get_downvotes.size, "Dislike") %>
              <% end %>
            </div>

          </div>
          <div class="time"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(vent.created_at) %></div>
        <div class="clearfix"></div>
      </div>
      <% end %>
      <% else %>
      <h3> Sorry No results found</h3>
      <% end %>
    <%= paginate @vents %>
    </div>
