<%= simple_form_for(@vent) do |f| %>
<% if @vent.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@vent.errors.count, "error") %> prohibited this site from being saved:</h2>

  <ul>
    <% @vent.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.association :category %>
  <%= f.input :title %><br />
  <%= f.input :content %><br />
  <%= f.submit class:"button" %><br />
</div>
<% end %>
