<%= form_for(@vent) do |f| %>
<% if @vent.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@vent.errors.count, "error") %> prohibited this site from being saved:</h2>

  <ul>
    <% @vent.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :content %><br/>
  <%= f.text_field :content %>
</div>

<div class="form-group">
  <%= f.submit class: "button round" %>
</div>


<% end %>
