<!DOCTYPE html>
<html>
<head>
  <title>Vent.It</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <%- if user_signed_in? -%>
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to current_user.email, edit_user_registration_path %></li>
    <% if current_user.admin? %>
    <li><%= link_to "Admin", admin_vents_path  %></li>
    <% end %>
    <%- else -%>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <%- end -%>
    <li><%= link_to "Add Vent", new_vent_path %></li>
  </ul>
</nav>

<div id="banner">
  <div id="overlay">
    <h1>Vent.It</H1>
    </div>
  </div>


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

<aside class="large-3 columns">
  <% unless @random_vent == nil %>
    <div class="random-vent">
      Random Vents:<br>
        <% @random_vent.each do |vent| %>
          <li><%= link_to vent.title, vent_path(vent) %></li>
        <% end %>
    </div>
  <% end %>

    <div class="categories">
      <% if @categories %>
        Categories:<br>
          <% @categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
      <% end %>
  </div>
</aside>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
</body>
</html>
