<!DOCTYPE html>
<html>
<head>
  <title>Vent.It</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body>

<%= render "/layouts/navbar" %>

    <% flash.each do |key, value| %>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <% end %>

<%= render "/layouts/sidebar" %>

    <%= yield %>

<%= render "/layouts/footer" %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
  $(function(){
    $(document).foundation();
  });
  <% end %>

  <%= yield :extra_footer %>
</body>
</html>
