<!DOCTYPE html>
<html>
<head>
  <title>Vent.It</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <%- if user_signed_in? -%>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to current_user.email, edit_user_registration_path %></li>
      <% if current_user.admin? %>
      <li><%= link_to "Admin", admin_vents_path  %></li>
      <% end %>
      <%- else -%>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
      <li><%= link_to "Add Vent", new_vent_path %></li>
    </ul>
  </nav>

<div id="banner">
  <div id="overlay">
    <h1>Vent.It</H1>
    </div>
  </div>

    <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <%- end -%>

    <div class="large-3 columns">
      <div class="search">
        <%= form_tag vents_path, method: :get do %>
        <%= text_field_tag :query %>
        <%= submit_tag "Search", { class: "button info expand radius" } %>
      <% end %>
        <h1><%= link_to "Visualize Most Used Words!", words_path %></h1>
      </div>


    <% if @categories %>
      <div class="sidebarblock">
        <h3>Categories:</h3>
          <div class="divline"></div>
            <div class="blocktxt">
              <% @categories.each do |category| %>
              <ul>
                <li><%= link_to category.name, category_path(category) %></li>
              </ul>
            <% end %>
        </div>
      </div>
    <% end %>
    <% unless @random_vent == nil %>
      <div class="sidebarblock">
        <h3>Random Vents:</h3>
        <div class="divline"></div>
        <div class="blocktxt">
          <div class="random-vent">
            <ul>
            <% @random_vent.each do |vent| %>
              <li><%= link_to vent.title, vent_path(vent) %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <%= yield %>
<footer class="row">
  <div class="row">
    <div class="large-8 columns">
      <p>© Chan H. Park</p>
    </div>
      <div class="large-4 columns">
        <ul class="inline-list right">
          <li><a class="fa fa-linkedin-square" href="https://linkedin.com/in/chanhpark"></a></li>
          <li><a class="fa fa-github-square" href="https://github.com/chanhpark"></a></li>
          <li><a class="fa fa-twitter-square" href="https://twitter.com/cpark1211"></a></li>
        </ul>
      </div>
  </div>
</footer>
  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
  $(function(){
    $(document).foundation();
  });
  <% end %>

  <%= yield :extra_footer %>
</body>
</html>
